{{ define "main" }}
    <pre>
   _____                                                               
  / ___/________  ____  ___  ________  ______   _____  _____ 
  \__ \/ ___/ _ \/ __ \/ _ \/ ___/ _ \/ ___/ | / / _ \/ ___/ 
 ___/ / /__/  __/ / / /  __(__  )  __/ /   | |/ /  __/ /     
/____/\___/\___/_/ /_/\___/____/\___/_/    |___/\___/_/      
                                                               
    </pre>
    <hr>

    <div class="terminal-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}

        <ul class="recording-list">
        {{ range .Site.Data.mp3_catalog }}
            <li class="entry">
                <a href="{{ .url }}" target="_blank" class="entry-link">
                    <span class="file-name">[{{ .filename }}]</span> 
                    <span class="entry-title">{{ if eq .title "Unknown" }}{{ .artist }}{{ else }}{{ .title }}{{ end }}</span>
                </a>
                
                <span class="label">LENGTH:</span> 
                    {{ if .length_seconds }}
                        {{ printf "%.2f" (div (float .length_seconds) 60) }} min
                    {{ else }}
                        unknown
                    {{ end }}

                {{ if .album }}
                    <div class="sub-info">Release: {{ .album }}</div>
                {{ end }}
            </li>
        {{ end }}
        </ul>

        <span class="cursor"></span>
    </div>
{{ end }}