{{ define "main" }}
    <pre>
   _____                                                               
  / ___/_________  ____  ___  ________  ______   _____  _____ 
  \__ \/ ___/ _ \/ __ \/ _ \/ ___/ _ \/ ___/ | / / _ \/ ___/ 
 ___/ / /__/  __/ / / /  __(__  )  __/ /   | |/ /  __/ /     
/____/\___/\___/_/ /_/\___/____/\___/_/    |___/\___/_/      
                                                               
    </pre>
    <hr>

    <div class="terminal-content">
        <h1>{{ .Title }}</h1>
        <p><small>Recorded: {{ .Date.Format "January 2, 2006" }}</small></p>
        
        {{ .Content }}

        <span class="cursor"></span>
    </div>
{{ end }}
