{{ define "main" }}
<div class="page-wrap">
    <pre class="ascii-banner">   _____
  / ___/________  ____  ___  ________  ______   _____  _____
  \__ \/ ___/ _ \/ __ \/ _ \/ ___/ _ \/ ___/ | / / _ \/ ___/
 ___/ / /__/  __/ / / /  __(__  )  __/ /   | |/ /  __/ /
/____/\___/\___/_/ /_/\___/____/\___/_/    |___/\___/_/      </pre>

    <hr>

    <div class="terminal-window">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <hr>

        <div class="scatter-grid">
            {{- $terms := slice -}}
            {{- range .Site.Data.mp3_catalog -}}
                {{- if .artist -}}{{- $terms = $terms | append .artist -}}{{- end -}}
                {{- if .album  -}}{{- $terms = $terms | append .album  -}}{{- end -}}
            {{- end -}}
            {{- range ($terms | uniq | sort) -}}
                {{- if . }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag-item">{{ . }}</a>
                {{- end -}}
            {{- end }}
        </div>

        <span class="cursor"></span>
    </div>
</div>
{{ end }}
