<!DOCTYPE html>
<html>
<head>
    <title>{{ .Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
    <pre>
   _____                                                               
  / ___/________  ____  ___  ________  ______   _____  _____ 
  \__ \/ ___/ _ \/ __ \/ _ \/ ___/ _ \/ ___/ | / / _ \/ ___/ 
 ___/ / /__/  __/ / / /  __(__  )  __/ /   | |/ /  __/ /     
/____/\___/\___/_/ /_/\___/____/\___/_/    |___/\___/_/      
                                                               
    </pre>
    <hr>
    <div class="terminal-content">
        {{ .Content }}
        <span class="cursor"></span>
    </div>
    <hr>
    <div style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid #00ff00;
    padding: 2px;
    background: #000;
    line-height: 0;
    z-index: 9999;
">
    <img src="/images/scene.png" alt="scene" style="
        width: 100px; 
        height: auto; 
        display: block;
    ">
</div>
</body>
</html>